@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; 

}

.cabecalho {
    position: fixed;
    height: 43px;
    left: 0;
    right: 0;
    background-image: linear-gradient(90deg, #460C68, #7F167F);
    color:  #F6F6F6;
    z-index: 1;
}

.cabecalho-menu {
    text-align: center;
    position: relative;
}

.cabecalho-menu li {
    display: inline-block;
    margin: 16px 10px;
}

.cabecalho-menu li:not(:last-child):after {
    content: "•";
    margin-left: 24px;
}

.cabecalho-menu li a {
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Inter';
    font-weight: 400;
}

.cabecalho-menu li a:hover{
    color: #F56EB3;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.apresentacao-conteudo{
    display: flex;
    flex-direction: column;
}

.apresentacao-contato {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    }

.pessoa {
    display: inline-block;
    position: absolute;
}

.pessoa h1 {
    font-size: 64px;
    font-weight: bolder;
    margin-top: 64px;
}

.pessoa h2 {
    margin: 16px 0;
    font-size: 27px;
    font-style: italic;
    font-weight: bolder;
}

.foto-tainara{
    width: 260px;
    height: 269px;
    border-radius: 50%;
    border: 4px solid #7F167F;
}


