@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box; 

}

.cabecalho {
    position: absolute;
    width: 1042px;
    height: 43px;
    left: 279px;
    top: 33px;
}
.cabecalho-menu {
    display: flex;
    gap: 10px;
}

.cabecalho-menu-link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    line-height: 36px;
}

.apresentacao {
    margin-top: 86px;
}

.apresentacao-conteudo ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.apresentacao-conteudo ul li img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.apresentacao-conteudo ul li address {
    margin: 0;
}

